body {
	font-family: 'Raleway', sans-serif;
}
h1{
	font-weight: bold;
	text-transform: uppercase;
}
h2 {
	color: #248695;
	border: 4px solid #248695;
	padding: 2% 5%;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 100px;
	margin-top: 0;
	font-weight: bold;
}
p {
	font-weight: 600;
    font-size: 18px;
}
.inverse {
	color: white;
}
.marginTop30 {
	margin-top: 30px;
}
.noPaddingRight {
	padding-right: 0;
}


/* NAV */
#dewaplast-menu {
	background-color: white;
}
#dewaplast-menu h1 {
	color: black;
	margin: 0;
    line-height: 2.8;
    font-size: 30px;
}
#dewaplast-menu a {
	color: black;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 130%;
    line-height: 3;
    padding-left: 0;
    padding-right: 0;
}
#dewaplast-menu li {
	padding: 0 40px;
}
#dewaplast-menu li:last-child {
	padding: 0 0 0 40px;
}
#dewaplast-menu .navbar-nav>.active>a, #dewaplast-menu .navbar-nav>.active>a:focus, #dewaplast-menu .navbar-nav>.active>a:hover, #dewaplast-menu .navbar-nav a:hover {
	background-color: inherit;
	color: #248695;
	border-top: 4px solid #248695;
	padding-top: 11px;
}

/* HOME */
#section-home {
	background-image: url('../img/DewaHome.jpg');
	background-repeat: round;
}
#section-home #introText {
	margin-top: 15%;
	width: 88%;
    margin: auto;
}
#section-home #introText h1{
	font-size: 1200%;
	margin: 0;
	margin-left: -8px;
	text-align: center;
	line-height: 1;
}
#section-home #introText p{
	line-height: 1;
	font-size: 200%;
	margin: 0;
	text-transform: uppercase;
}
#section-home .call-to-action .btn{
	text-transform: uppercase;
	margin-top: 5%;
	color:white;
	border-radius: 0;
	border: 4px solid white;
	font-size: 200%;
	padding: 2% 5%;
	background-color: rgba(255, 255, 255, 0);
}
#section-home .call-to-action .btn:hover{
	color:#248695;
	border-color:#248695;
	background-color: rgba(255, 255, 255, 0);
}

/* REFERENCES */
#section-references p{
	width: 80%;
}
#section-references strong {
    font-weight: 900;
}
#section-references img {
	width: 100%;
}

/* ABOUT */
#section-about {
	background-image: url('../img/aboutBack.jpg');
}
#section-about p{
	font-size: 200%;
	font-weight: 500;
}

/* ALBUMS */
#section-albums .container{
	padding-top: 10%;
	padding-bottom: 10%;
}
#section-albums h2 {
	margin-bottom: 20px;
}
#section-albums .nav a {
	color: #248695;
	border: 4px solid #248695;
	padding: 8px 10px;
	text-transform: uppercase;
	display: inline-block;
	font-weight: bold;
	font-size: 150%;
	width: 175px;
	text-align: center;
	margin-right: 15px;
}
#section-albums .albumImage{
	position: relative; 
   	width: 100%;
}
#section-albums .albumImage a:hover:before{
  display: block;
}
#section-albums .albumImage a:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: none;
  z-index:0;
  background-color: rgba(36,134,149,0.5);
}
#section-albums .row{
   	margin-bottom: 30px;
}
#section-albums .albumImage img{
   	width: 100%;
}
#section-albums .albumImage p{
	position: absolute; 
   	bottom: 50px;
    left: 50px;
  	width: 100%; 
  	color: white;
  	font-size: 200%;
    font-weight: bold;
    text-transform: uppercase;
}

/* CONTACT */
#section-contact{
	background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../img/contactBack.jpg');
}
#section-contact .form-control {
	background-color: rgba(255, 255, 255, 0);
    border: none;
    width: 80%;
    border-bottom: 2px solid white;
    border-radius: 0;
    box-shadow: none;
    color:#fff;
    margin-bottom: 15%;
    font-weight: bold;
    font-size:120%;
}
#section-contact .form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
    font-weight: bold;
}
#section-contact .form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
   font-weight: bold;
}
#section-contact .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
   font-weight: bold;
}
#section-contact .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
   font-weight: bold;
}

#section-contact .info p{
	margin: 0;
	font-size:20px;
}
#section-contact .info div{
	margin-bottom: 10%;
}
#section-contact #social a{
	margin-right:10px;
}